*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: hsl(204, 43%, 93%);
}

.price {
    &__component {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        font-family: 'Karla', sans-serif;
        justify-content: center;
        align-content: center;
        margin-top: 3em;
    }

    &__item {
        grid-column: 1/2;
        margin: 0 4em;
        padding: 1em 2em;
    }

    &__item-one {
        grid-row: 1/2;
        background-color: #fff;        
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &__item-two {
        grid-row: 2/3;
        background-color: hsl(179, 62%, 43%);
    }

    &__item-three {
        grid-row: 3/4;
        background-color: hsl(179, 70%, 59%);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    &__title {
        font-size: 2rem;
        padding: 1em 0;
    }
    
    &__title-one {
        color: hsl(179, 76%, 39%);
    }

    &__title-two, &__title-three {
        color: #fff;
    }

    &__subtitle {
        color: hsl(71, 73%, 54%);
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1em;
    }

    &__text {
        font-size: 1.2rem;
        margin-bottom: 1em;
    }

    &__text-one {
        color: hsl(218, 22%, 67%);
        line-height: 1.8em;
    }

    &__text-two {
        color: #fff;
        padding: .5em 0;
    }

    &__text-three {
        color: #fff;
        line-height: 1.5em;
        max-width: 140px;
    }

    &__box {
        display: flex;
        flex-direction: row;
    }

    &__value {
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
    }

    &__time {
        font-size: 1.2rem;
        color: hsl(216, 26%, 79%);
        margin-top: .8em;
        margin-left: .8em;
    }

    &__btn {
        width: 100%;
        padding: 1em;
        font-size: 1.4rem;
        font-weight: bold;
        color: #fff;
        background-color: hsl(71, 73%, 54%);
        border: 1px solid transparent;
        border-radius: 8px;
        margin-top: .4em;
    }

}




.attribution { 
    font-size: 11px; 
    text-align: center; 

    a { 
        color: hsl(228, 45%, 44%); 
    } 
}